// font color
$fontColor1: #ffffff;
$fontColor2: #D1D1D1;
$fontColor3: #cc0000;
$fontColor4: #495057;
$fontColor5: #D1D1D1;
$fontColor6: #adadad;

// background color
$bgColor1: #ffffff;
$bgColor2: #24434a;
$bgColor3: #EAEAEA;
$bgColor4: #703acc;
$bgColor5: #6535B8;
$bgColor6: #eeeeee;

// background opacity color
$bgColorOpacity1: rgba(0,0,0,0.3);
$bgColorOpacity2: rgba(0,0,0,0.7);

// shadow color
$shadowColor1: rgba(64, 149, 240, 0.35);

// border color
$borderColor1: #D1D1D1;
$borderColor2: #F5F5F5;
$borderColor3: #cccccc;
$borderColor4: #80bdff;