@import '../../assets/scss/variables.scss';

.item {
    padding-top: 50px;
    padding-bottom: 50px;
    &:not(:last-of-type) {
        border-bottom: 1px solid $borderColor3;
    }
}
article {
    margin-bottom: 50px;
}
.title {
    margin-bottom: 10px;
}
.paragraph {
    color: $fontColor6;
}
